body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: rgb(224, 224, 187);
}

.title {
    position: absolute;
    /* absolute positioning required for slideDownAnimation*/
    left: 50%;
    /* center the text */
    margin-left: -165px;
    /* half of the title width */
    animation: slideDownAnimation ease-out 3s;
    top: 100px;
}

.sub-title {
    animation: fadeInAnimation 6s;
    animation-delay: 0.5s;
}

.options {
    animation: slideUpAnimation ease 3s;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 200px;
    right: 20px;
}

.results {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 300px;
    right: 20px;
}

#user-result {
    animation: userAnimation ease-out 2s;
    width: 10%;
    padding: 10px;
    position: absolute;
    bottom: 300px;
    left: 300px;
}

.user-result-subtitle {
    animation: userAnimation ease-out 2s;
    padding: 10px;
    position: absolute;
    top: 100px;
    left: 300px;
}

.cpu-result-subtitle {
    animation: cpuAnimation ease-out 2s;
    animation-fill-mode: backwards;
    animation-delay: 1s;
    padding: 10px;
    position: absolute;
    top: 100px;
    right: 300px;
}

#cpu-result {
    animation: cpuAnimation ease-out 2s;
    animation-fill-mode: backwards;
    animation-delay: 1s;
    width: 10%;
    padding: 10px;
    position: absolute;
    bottom: 300px;
    right: 300px;
}

.img-button {
    width: 10%;
    padding: 10px;
}

.img-button:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.65);
    border-radius: 25%;
    box-shadow: 0px 0px 70px 20px rgb(255, 255, 255);
    transition: all ease-out 0.1s;
}

@keyframes slideDownAnimation {
    0% {
        top: -200px;
    }
    100% {
        top: 100px;
    }
}

@keyframes slideUpAnimation {
    0% {
        bottom: -400px;
    }
    100% {
        bottom: 200px;
    }
}

@keyframes userAnimation {
    0% {
        left: -400px;
    }
    100% {
        left: 300px;
    }
}

@keyframes cpuAnimation {
    0% {
        right: -400px;
    }
    100% {
        right: 300px;
    }
}