body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: rgb(224, 224, 187);
}

.title {
    position: absolute;
    /* absolute positioning required for slideDownAnimation*/
    left: 50%;
    /* center the text */
    margin-left: -165px;
    /* half of the title width */
    animation: slideDownAnimation ease-out 3s;
    top: 100px;
}

.sub-title {
    animation: fadeInAnimation 6s;
    animation-delay: 0.5s;
}

.options {
    animation: slideUpAnimation ease 3s;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 200px;
    right: 20px;
}

img {
    width: 10%;
    padding: 10px;
}

img:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.65);
    border-radius: 25%;
    box-shadow: 0px 0px 70px 20px rgb(255, 255, 255);
    transition: all ease-out 0.1s;
}

@keyframes slideDownAnimation {
    0% {
        top: -200px;
    }
    100% {
        top: 100px;
    }
}

@keyframes slideUpAnimation {
    0% {
        bottom: -400px;
    }
    100% {
        bottom: 200px;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}